@using AstroBuildersModel;
@using System.Collections.ObjectModel;
@model ObservableCollection<Builder>
@{
	string detail = (string)ViewData["Detail"];
	if(detail == null) {
		detail = string.Empty;
	}
	//detail = detail.Replace("\r\n", "<br />");
}
@if(Model == null) {
    ViewBag.Title = "R2 Builders - Builder: " + @ViewData["NickName"];
} else {
    ViewBag.Title = "R2 Builders - Les R2 Builders";
}

@if(Model == null) {
<h1>@ViewData["Name"]</h1>
<table>
<tr>
<td><image src='@ViewData["Logo"]' width="200" /></td>
<td><h2>@ViewData["NickName"]</h2><image src='@ViewData["ClubLogo"]' width="100" /></td>
</tr>
</table>
<h3>Club du Builder</h3>
<p>@ViewData["Club"]</p>

<p>@ViewData["Email"]</p>
<p>@ViewData["Facebook"]</p>
<p>@ViewData["Blog"]</p>
<p>Origine - @ViewData["Location"]</p>
<p>Droïdes - @ViewData["Droids"]</p>
<pre>@detail</pre>

<br />
<br />
@Html.GenerateRelayQrCode((string)ViewData["QRcode"])

} else {

<table class="table">
    <thead>
		<tr class="ui-widget-header ">
			<th>Avatar</th>
			<th>Nickname</th>
		</tr>
	</thead>

	<tbody>
	@foreach (Builder builder in Model) {
		<tr>
		<td><a href='/Builder/@builder.NickName'><img src="@builder.Logo" width="100"/></a></td>
		<td><a href='/Builder/@builder.NickName'>@Html.DisplayFor(cc => builder.NickName)</a></td>
		</tr>
	}
	</tbody>
</table>

}